/**importing fonts**/
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@font-face {
    font-family: "HiguenSerif" ;
    src: url(/fonts/Higuen-Font/Higuenserif.otf);
}
@keyframes baseline {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }
  /**Styling the page**/
section{
	background-color: #d6c9c4;
    text-align: center;
	margin: 4%;
	padding: 1%;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}
header {
	
	background-color: #d6c9c4;
	padding: 20px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    text-align: center;
	margin-top: 0;
  animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}


h2{
	color: #41281a;
    font-size: 250%;
    font-family: "HiguenSerif" ;
    letter-spacing: 5px;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}

p{
    font-size: 120%;
    color: #65412B;
    font-weight: 100;
    font-family: 'Lustria', serif;
	margin-left: 8%;
	margin-right: 8%;
	line-height: 28px;
    text-align: left;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}
div.double{
    border-style: double;
    color: #9b7750;
	padding: 3%;
}
/**styling navigation**/
nav{
  z-index: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#d6c9c4;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #41281a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lustria', serif;

}

li a:hover:not(.active) {
  background-color:#65412b;
  color: #d6c9c4;
}

  