/**importing fonts**/
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@font-face {
    font-family: "HiguenSerif" ;
    src: url(/fonts/Higuen-Font/Higuenserif.otf);
}

@font-face {
    font-family:"Scandiloverscript" ;
    src: url(/fonts/scandilover-script-font/Scandiloverscript-8BlD.ttf);
}
body {
  cursor: pointer;
}
/**Styling the page**/
body{
    background-image: url(/images/bg2.jpg);
    text-align: center;
    
}
.hadha{
    color: #65412B;
    font-size: 280%;
    font-family:"Scandiloverscript" ;
    margin-top: -3%;
}
.boutique{
    color: #41281A;
    font-size: 380%;
    font-family: "HiguenSerif" ;
    letter-spacing: 5px;
    margin-top: -8%;
   margin-bottom: -4%;
}
section{
    background-color: #d6c9c4;
    margin:5%;
    padding: 6%;
}
p{
    font-family: 'Lustria', serif;
    margin-left: 12% ;
    margin-right: 12%;
    font-size: 100%;
    color: #65412B;
    font-weight: 100;
    line-height: 35px;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}
/**styling navigation**/
nav{
  z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#d6c9c4;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #41281a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lustria', serif;;
  }
  
  li a:hover:not(.active) {
    background-color:#65412b;
    color: #d6c9c4;
  }
  /**Adding animation**/
.hadha{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
  }
  .boutique{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
  }
  svg{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
  }
  hr{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
  }
  @keyframes baseline {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }