/**importing fonts**/
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@font-face {
    font-family: "HiguenSerif" ;
    src: url(/fonts/higuen/HiguenSerif.otf);
}
/**Styling the page**/
body {
    font-family: 'Lustria', serif;
    background-image: url(/images/bg2.jpg);
    margin: 10%;
    text-align: center;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 2pc;
    background-color: #d6c9c4;
    border-radius: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 300%;
    color: #41281a;
    font-family: "HiguenSerif" ;
    letter-spacing: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-family: 'Lustria', serif;
    color: #65412B;
    text-align: left;
    margin-left: 10%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  button {
    width: 30%;
    text-align: center;
    padding: 10px;
    background-color: #41281a;;
    color: #d6c9c4;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lustria', serif;
    margin-top: 3%;
    margin-bottom: 2% ;
  }
  
  button:hover {
    background-color:#65412B;
  }