/**importing fonts**/
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@font-face {
    font-family: "HiguenSerif" ;
    src: url(fonts/higuen/HiguenSerif.otf);
}
@keyframes baseline {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }
  body {
    cursor: pointer;
  }
  /**Styling the page**/
body{
    background-color: #d6c9c4;
}

section{
    text-align: center;
    margin-right: 50pc;
    margin-left: 5%;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
    padding-top: 3%;
    margin-right: 30%;
}

img{
    border: 10px solid #f7f5ed;
}
img:hover{
    border: 15px solid #f7f5ed;  
}
.imagescontainer {
    display: grid;
    grid-template-columns: 250px 270px 300px;
}

.rows {
    display: grid;  
}

.four {
    margin-bottom: 12px;
}

.five{
    margin-bottom: 12px;
}

.two{
    margin-top: 0.5pc;
}

.three{
    margin-top: 0.5pc;
}

.eight{
    margin-top: 0.5pc;
}
.nine{
    margin-top: 0.5pc;
}
/**styling navigation**/
nav{
    z-index: 1;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#d6c9c4;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #41281a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lustria', serif;;
  }
  
  li a:hover:not(.active) {
    background-color:#65412b;
    color: #d6c9c4;
  }

  p{
    font-size: 100%;
    color: #65412B;
    font-weight: 100;
    font-family: 'Lustria', serif;
    line-height: 25px;
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
    margin-left: 65%;
    margin-right: 10%;
    text-align: center;
}

.h11{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
    margin-left: 65%;
    margin-right: 2%;
    margin-top: -60%;
    margin-right: 10%;
    text-align: center;
    font-size: 250%;
    color: #41281a;
    font-family: "HiguenSerif" ;
    letter-spacing: 5px;
}

.h11 img{
border: none;
margin-left: -100%;
margin-right: -100%;
margin-bottom: -80%;
margin-top: -30%;
}

hr{
    animation: baseline 0.9s forwards cubic-bezier(.4,0,.39,1.04);
}